:root {
  --clr-100: hsl(210, 46%, 95%);
  --clr-200: hsl(212, 23%, 69%);
  --clr-300: hsl(214, 17%, 51%);
  --clr-400: hsl(217, 19%, 35%);

  --fs-text: 13px;
  --fs-heading: 16px;

  --fw-normal: 500;
  --fw-bold: 700;

  --ff-site: "Manrope", sans-serif;

  --shadow-1: 0px 40px 40px -10px hsla(210, 29%, 84%, 0.5);
}
